doctype html
html(data-ng-app="book")
    head
        title= pageTitle
        link(href="/css/normalize.css", rel="stylesheet", type="text/css")
        link(href="/css/style.css", rel="stylesheet", type="text/css")
    body
        .sidebar
            img(src="/img/logo.png")
            ul.menu
                li.menu-item.active
                    a Menu Item
                    ul.submenu
                        li.menu-item.active
                            a(href="/form") [+ New Book]
                li.menu-item
                    a Menu Item
                    ul.submenu
                        li.menu-item
                            a Sub Menu Item
                        li.menu-item
                            a Sub Menu Item
                        li.menu-item
                            a Sub Menu Item
        .content
            .view(data-ng-view="")

        script(src="/js/angular.js")
        script(src="/js/angular-route.js")
        script(src="/js/controllers.js")
        script(src="/js/factories.js")
        script(src="/js/app.js")
