.book.red
.book.pink
.book.blue
.book.dark-blue
.book.green
.book.light-green
.book.red
.book.pink
.book.blue
.book.dark-blue
.book.green
.book.light-green
.book.red
.book.pink
.book.blue
.book.dark-blue
.book.green