.book.blue(ng-class="bookClass", data-ng-repeat="book in books | filter: search")
    p.titel {{book.titel}}
    p.illustrator {{book.illustrator}}
    p.text {{book.text}}
    a.edit(ng-href="/edit/{{book._id}}") [Edit]